# Pandas

## Pandas Data Structures

In [ ]:
2877. Create a DataFrame from List

return pd.DataFrame(student_data, columns = ["student_id","age"])

## Data Inspection

In [ ]:
2878. Get the Size of a DataFrame

return list(players.shape)

In [ ]:
2879. Display the First Three Rows

return employees.head(3)

## Data Selecting

In [ ]:
2880. Select Data

return students.loc[students["student_id"] == 101, ["name", "age"]]

In [ ]:
2881. Create a New Column 

employees['bonus'] = employees['salary']*2
return employeesa New Column

## Data Cleaning

In [ ]:
2882. Drop Duplicate Rows

return customers.drop_duplicates('email')

In [ ]:
2883. Drop Missing Data

return students.dropna(subset='name')

In [ ]:
2884. Modify Columns

employees['salary']  = employees['salary'] * 2
return employees

In [ ]:
2885. Rename Columns

students.rename(columns={'id': 'student_id', 'first': 'first_name', 'last': 'last_name', 'age': 'age_in_years'}, inplace=True)
return students

In [ ]:
2886. Change Data Type

students['grade']=students['grade'].astype(int)
return students

In [ ]:
2887. Fill Missing Data

products['quantity'].fillna(0, inplace = True)
return products

## Table Reshaping

In [ ]:
2888. Reshape Data: Concatenate

def concatenateTables(df1: pd.DataFrame, df2: pd.DataFrame) -> pd.DataFrame:
    return pd.concat([df1,df2],axis=0)

In [ ]:
2889. Reshape Data: Pivot

def pivotTable(weather: pd.DataFrame) -> pd.DataFrame:
    ans = weather.pivot(index='month', columns='city', values='temperature')
    return ans

In [ ]:
2890. Reshape Data: Melt

def meltTable(report: pd.DataFrame) -> pd.DataFrame:
    report = report.melt(
        id_vars=["product"],
        value_vars=["quarter_1", "quarter_2", "quarter_3", "quarter_4"],
        var_name="quarter",
        value_name="sales",
    )
    return report
OR 
return pd.melt(report, id_vars=['product'], var_name='quarter', value_name='sales')

## Advanced Techniques

In [ ]:
2891. Method Chaining

def findHeavyAnimals(animals: pd.DataFrame) -> pd.DataFrame:
    return animals[animals['weight']>100].sort_values(by='weight', ascending = False)[['name']]