## SELECT statements

In [ ]:
1757. Recyclable and Low Fat Products

SELECT product_id
FROM Products 
WHERE low_fats = 'Y' AND recyclable = 'Y'

In [ ]:
584. Find Customer Referee

select name
from Customer
WHERE referee_id <> 2 OR referee_id IS NULL

In [ ]:
595. Big Countries

SELECT name, population, area
FROM World
WHERE area>=3000000 or population>=25000000

In [ ]:
1148. Article Views I

SELECT DISTINCT author_id AS id
FROM Views
WHERE author_id = viewer_id
ORDER BY id;

In [ ]:
1683. Invalid Tweets

select tweet_id
from Tweets
where length(content) >15

## Basic JOIN

In [ ]:
1378. Replace Employee ID With The Unique Identifier

select EmployeeUNI.unique_id, Employees.name
from Employees 
left join EmployeeUNI on Employees.id = EmployeeUNI.id

In [ ]:
1068. Product Sales Analysis I

select Product.product_name, Sales.year, Sales.price
from Sales
left join Product on Sales.product_id = Product.product_id;

In [ ]:
1581. Customer Who Visited but Did Not Make Any Transactions

select v.customer_id, count(v.visit_id) as count_no_trans
from Visits v
left join Transactions t 
ON v.visit_id = t.visit_id
where t.transaction_id is null
group by v.customer_id;

In [ ]:
197. Rising Temperature

select w1.id
from Weather w1
join Weather w2 on w1.recordDate = DATE_ADD(w2.recordDate, interval 1 day)
where w1.temperature > w2.temperature

In [ ]:
1661. Average Time of Process per Machine

select a1.machine_id, round(avg(a2.timestamp-a1.timestamp), 3) as processing_time 
from Activity a1
join Activity a2 
on a1.machine_id=a2.machine_id and a1.process_id=a2.process_id
and a1.activity_type='start' and a2.activity_type='end'
group by a1.machine_id

In [ ]:
577. Employee Bonus

select e.name, b.bonus
from Employee e
left join Bonus b on e.empId = b.empId
where bonus<1000 or bonus is null;

In [ ]:
1280. Students and Examinations

select s.student_id, s.student_name, sub.subject_name, coalesce(count(e.student_id),0) as attended_exams
from Students s
cross join Subjects sub
left join Examinations e 
on s.student_id = e.student_id
and sub.subject_name = e.subject_name
group by s.student_id, s.student_name, sub.subject_name
order by s.student_id, sub.subject_name;

In [ ]:
570. Managers with at Least 5 Direct Reports

select e.name from Employee e
inner join Employee m on e.id = m.managerId
group by m.managerId
having count(m.managerId) >=5

In [ ]:
1934. Confirmation Rate

select s.user_id, round(avg(if(c.action="confirmed",1,0)),2) as confirmation_rate
from Signups s
left join Confirmations c 
on s.user_id = c.user_id
group by user_id

## Basic Aggregate Functions

In [ ]:
620. Not Boring Movies

select * 
from Cinema 
where id%2!=0 and description != "boring" 
order by rating desc;

In [ ]:
1251. Average Selling Price

select p.product_id, ifnull(round(sum(u.units*p.price)/nullif(sum(u.units),0),2),0) as average_price
from Prices p
left join UnitsSold u on p.product_id = u.product_id
and u.purchase_date between start_date and end_date
group by product_id