## SELECT statements

In [ ]:
1757. Recyclable and Low Fat Products

SELECT product_id
FROM Products 
WHERE low_fats = 'Y' AND recyclable = 'Y'

In [ ]:
584. Find Customer Referee

select name
from Customer
WHERE referee_id <> 2 OR referee_id IS NULL

In [ ]:
595. Big Countries

SELECT name, population, area
FROM World
WHERE area>=3000000 or population>=25000000

In [ ]:
1148. Article Views I

SELECT DISTINCT author_id AS id
FROM Views
WHERE author_id = viewer_id
ORDER BY id;

In [ ]:
1683. Invalid Tweets

select tweet_id
from Tweets
where length(content) >15

## Basic JOIN

In [ ]:
1378. Replace Employee ID With The Unique Identifier

select EmployeeUNI.unique_id, Employees.name
from Employees 
left join EmployeeUNI on Employees.id = EmployeeUNI.id

In [ ]:
1068. Product Sales Analysis I

select Product.product_name, Sales.year, Sales.price
from Sales
left join Product on Sales.product_id = Product.product_id;

In [ ]:
1581. Customer Who Visited but Did Not Make Any Transactions

select v.customer_id, count(v.visit_id) as count_no_trans
from Visits v
left join Transactions t 
ON v.visit_id = t.visit_id
where t.transaction_id is null
group by v.customer_id;

In [ ]:
197. Rising Temperature

select w1.id
from Weather w1
join Weather w2 on w1.recordDate = DATE_ADD(w2.recordDate, interval 1 day)
where w1.temperature > w2.temperature

In [ ]:
1661. Average Time of Process per Machine

select a1.machine_id, round(avg(a2.timestamp-a1.timestamp), 3) as processing_time 
from Activity a1
join Activity a2 
on a1.machine_id=a2.machine_id and a1.process_id=a2.process_id
and a1.activity_type='start' and a2.activity_type='end'
group by a1.machine_id

In [ ]:
577. Employee Bonus

select e.name, b.bonus
from Employee e
left join Bonus b on e.empId = b.empId
where bonus<1000 or bonus is null;

In [ ]:
1280. Students and Examinations

select s.student_id, s.student_name, sub.subject_name, coalesce(count(e.student_id),0) as attended_exams
from Students s
cross join Subjects sub
left join Examinations e 
on s.student_id = e.student_id
and sub.subject_name = e.subject_name
group by s.student_id, s.student_name, sub.subject_name
order by s.student_id, sub.subject_name;

In [ ]:
570. Managers with at Least 5 Direct Reports

select e.name from Employee e
inner join Employee m on e.id = m.managerId
group by m.managerId
having count(m.managerId) >=5

In [ ]:
1934. Confirmation Rate

select s.user_id, round(avg(if(c.action="confirmed",1,0)),2) as confirmation_rate
from Signups s
left join Confirmations c 
on s.user_id = c.user_id
group by user_id

## Basic Aggregate Functions

In [ ]:
620. Not Boring Movies

select * 
from Cinema 
where id%2!=0 and description != "boring" 
order by rating desc;

In [ ]:
1251. Average Selling Price

select p.product_id, ifnull(round(sum(u.units*p.price)/nullif(sum(u.units),0),2),0) as average_price
from Prices p
left join UnitsSold u on p.product_id = u.product_id
and u.purchase_date between start_date and end_date
group by product_id

In [ ]:
1075. Project Employees I

select p.project_id, round(avg(experience_years),2) as average_years
from Project p
left join Employee e 
on p.employee_id = e.employee_id
group by p.project_id

In [ ]:
1633. Percentage of Users Attended a Contest

select r.contest_id, round((count(r.user_id)*100/(SELECT COUNT(*) FROM Users)),2) as percentage
from Register r
group by r.contest_id 
order by percentage desc,
r.contest_id asc;

In [ ]:
1211. Queries Quality and Percentage

select query_name, 
    round(sum(rating/position)/count(query_name),2) as quality, 
    round((sum(case when rating < 3 then 1 else 0 end) * 100/count(query_name)),2) as poor_query_percentage
from Queries
group by query_name
having query_name is not null

In [ ]:
1193. Monthly Transactions I

SELECT 
    DATE_FORMAT(trans_date, '%Y-%m') AS month,
    country,
    COUNT(*) AS trans_count,
    SUM(CASE WHEN state = 'approved' THEN 1 ELSE 0 END) AS approved_count,
    SUM(amount) AS trans_total_amount,
    SUM(CASE WHEN state = 'approved' THEN amount ELSE 0 END) AS approved_total_amount
FROM 
    Transactions
GROUP BY 
    DATE_FORMAT(trans_date, '%Y-%m'), country
ORDER BY 
    month, country;

or      GROUP BY 
            1,2

In [ ]:
1174. Immediate Food Delivery II

Select 
    round(avg(order_date = customer_pref_delivery_date)*100, 2) as immediate_percentage
from Delivery
where (customer_id, order_date) in (
  Select customer_id, min(order_date) 
  from Delivery
  group by customer_id
);

In [ ]:
550. Game Play Analysis IV

WITH FirstLogins AS (
    SELECT 
        player_id,
        MIN(event_date) AS first_login
    FROM 
        Activity
    GROUP BY 
        player_id
)

SELECT
    ROUND(COUNT(DISTINCT a.player_id) / (SELECT COUNT(DISTINCT player_id) FROM Activity), 2) AS fraction
FROM 
    Activity a
JOIN 
    FirstLogins fl ON a.player_id = fl.player_id
WHERE 
    a.event_date = DATE_ADD(fl.first_login, INTERVAL 1 DAY);

## Sorting and Grouping

In [ ]:
2356. Number of Unique Subjects Taught by Each Teacher

select teacher_id, count(distinct subject_id) as cnt
from Teacher
group by teacher_id

In [ ]:
1141. User Activity for the Past 30 Days I

select 
    activity_date AS day,
    count(distinct user_id) AS active_users
from activity
where activity_date BETWEEN '2019-06-28' AND '2019-07-27'
group by activity_date;

In [ ]:
1070. Product Sales Analysis III

select product_id, year as first_year, quantity, price
from Sales 
where(product_id,year) in (select product_id, min(year) from Sales group by product_id)

In [ ]:
596. Classes More Than 5 Students

select class
from Courses
group by class
having count(class) >4

In [ ]:
1729. Find Followers Count

select user_id, count(2) as followers_count
from Followers
group by user_id
order by user_id asc;

In [ ]:
619. Biggest Single Number

SELECT MAX(num) AS num
FROM (
    SELECT num
    FROM MyNumbers
    GROUP BY num
    HAVING COUNT(num) = 1
) AS unique_numbers;

In [ ]:
1045. Customers Who Bought All Products

select customer_id from Customer group by customer_id
having count(distinct product_key) = (select count(product_key) from Product)

## Advanced Select and Joins

In [ ]:
1731. The Number of Employees Which Report to Each Employee

select e.employee_id, e.name, count(*) as reports_count, round(avg(e1.age)) as average_age
from Employees e 
join Employees e1 on e.employee_id = e1.reports_to
group by e.employee_id
order by e.employee_id

In [ ]:
1789. Primary Department for Each Employee

select distinct employee_id, department_id
from Employee
where primary_flag = 'Y' 
union
select distinct employee_id, department_id
from Employee
group by employee_id
having count(employee_id) = 1

In [ ]:
610. Triangle Judgement

SELECT x,y,z,
    CASE
        WHEN (x+y > z AND y+z > x AND z+x > y) THEN 'Yes'
        ELSE 'No'
    END AS triangle
FROM Triangle

In [ ]:
180. Consecutive Numbers

select distinct l1.Num as ConsecutiveNums
from Logs l1, Logs l2, Logs l3
where l1.Id = l2.Id -1
and l2.Id= l3.Id-1
and l1.Num=l2.Num and l2.Num=l3.Num

In [ ]:
1164. Product Price at a Given Date

select distinct product_id,10 as price
from Products
group by product_id
having min(change_date)>'2019-08-16'
union all
SELECT
  product_id,
  new_price AS price
FROM
  Products
WHERE
  (product_id, change_date) IN (
    SELECT
      product_id,
      MAX(change_date)
    FROM
      Products
    WHERE
      change_date <= '2019-08-16'
    GROUP BY
      product_id
  )

In [ ]:
1204. Last Person to Fit in the Bus

select q1.person_name from Queue q1 join Queue q2 on q1.turn >= q2.turn
group by q1.person_name, q1.turn 
having sum(q2.weight)<=1000
order by sum(q2.weight) desc
limit 1;

In [ ]:
1907. Count Salary Categories

SELECT 
    'Low Salary' AS category,
    COUNT(CASE WHEN a.income < 20000 THEN 1 END) AS accounts_count
FROM accounts a
UNION ALL
SELECT 
    'Average Salary' AS category,
    COUNT(CASE WHEN a.income BETWEEN 20000 AND 50000 THEN 1 END) AS accounts_count
FROM accounts a
UNION ALL
SELECT 
    'High Salary' AS category,
    COUNT(CASE WHEN a.income > 50000 THEN 1 END) AS accounts_count
FROM accounts a;

## Subqueries

In [ ]:
1978. Employees Whose Manager Left the Company

select employee_id
from Employees
where salary<30000 and manager_id not in (select employee_id from Employees )
order by employee_id asc;

In [ ]:
626. Exchange Seats

select s.id, coalesce(c.student, s.student) as student from Seat s
left join Seat c
on
(s.id%2!=0 and s.id+1=c.id) or (s.id%2=0 and s.id-1=c.id);

In [ ]:
1341. Movie Rating

(
    SELECT 
        u.name AS results
    FROM users u
    JOIN MovieRating mr ON u.user_id = mr.user_id
    GROUP BY u.user_id
    ORDER BY COUNT(mr.movie_id) DESC, u.name
    LIMIT 1
)

UNION ALL

(
    SELECT 
        m.title AS results
    FROM Movies m
    JOIN MovieRating mr ON m.movie_id = mr.movie_id
    WHERE DATE_FORMAT(mr.created_at, '%Y-%m') = '2020-02'
    GROUP BY m.movie_id
    ORDER BY AVG(mr.rating) DESC, m.title
    LIMIT 1
);

In [ ]:
1321. Restaurant Growth

select visited_on, (select sum(amount) from customer where visited_on between date_sub(c.visited_on,interval 6 day) and c.visited_on) as amount,
    round((select sum(amount)/7 from customer where visited_on between date_sub(c.visited_on,interval 6 day) and c.visited_on),2) as average_amount
from customer c
where visited_on >= (select date_add(min(visited_on),interval 6 day) from customer)
group by visited_on;

In [ ]:
602. Friend Requests II: Who Has the Most Friends

select id, count(*) as num 
from (
    select requester_id as id 
    from requestaccepted
    union all
    select accepter_id as id 
    from requestaccepted
) request
group by id
order by count(*) desc
limit 1

In [ ]:
585. Investments in 2016

SELECT 
    ROUND(SUM(tiv_2016), 2) AS tiv_2016
FROM 
    Insurance AS i1
WHERE
    tiv_2015 IN (
        SELECT tiv_2015
        FROM Insurance
        GROUP BY tiv_2015
        HAVING COUNT(*) > 1
    )
    AND (lat, lon) IN (
        SELECT lat, lon
        FROM Insurance
        GROUP BY lat, lon
        HAVING COUNT(*) = 1
    );

## Advanced String Functions / Regex / Clause

In [ ]:
1667. Fix Names in a Table

SELECT
    user_id,
    CONCAT(UPPER(SUBSTRING(name, 1, 1)), LOWER(SUBSTRING(name, 2))) AS name
FROM
    Users
ORDER BY
    user_id;

In [ ]:
1527. Patients With a Condition

select * from Patients
where conditions like "DIAB1%"
or conditions like "% DIAB1%"

In [ ]:
196. Delete Duplicate Emails

delete p1 from Person p1, Person p2
where p1.email = p2.email and p1.id > p2.id